
.icon-maramail:before { content: '\e800'; } /* '' */
.icon-maralocation-outline:before { content: '\e801'; } /* '' */
.icon-maraphone:before { content: '\e802'; } /* '' */
.icon-maraminus:before { content: '\e803'; } /* '' */
.icon-marainfo:before { content: '\e804'; } /* '' */
.icon-maracafe:before { content: '\e80c'; } /* '' */
.icon-maracommerical-building:before { content: '\e811'; } /* '' */
.icon-mararestaurant:before { content: '\e832'; } /* '' */
.icon-maratoilet:before { content: '\e83b'; } /* '' */
.icon-maragplus:before { content: '\f0d5'; } /* '' */
.icon-maraangle-double-left:before { content: '\f100'; } /* '' */
.icon-maraangle-double-right:before { content: '\f101'; } /* '' */
.icon-maraangle-double-up:before { content: '\f102'; } /* '' */
.icon-maraangle-double-down:before { content: '\f103'; } /* '' */
.icon-maraangle-left:before { content: '\f104'; } /* '' */
.icon-maraangle-right:before { content: '\f105'; } /* '' */
.icon-maraangle-down:before { content: '\f107'; } /* '' */
.icon-maraellipsis-vert:before { content: '\f142'; } /* '' */
.icon-marayoutube-play:before { content: '\f16a'; } /* '' */
.icon-marafacebook-official:before { content: '\f230'; } /* '' */
.icon-marawhatsapp:before { content: '\f232'; } /* '' */
.icon-maratripadvisor:before { content: '\f262'; } /* '' */
.icon-maratelevision:before { content: '\f26c'; } /* '' */
.icon-maracommenting-o:before { content: '\f27b'; } /* '' */
.icon-marashower:before { content: '\f2cc'; } /* '' */